<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link href="{{ site.url }}/rss/" rel="alternate" type="application/rss+xml" title="RSS"/>
<link href="{{ site.asset_url }}/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
<link href="{{ site.asset_url }}/apple-touch-icon.png" rel="apple-touch-icon" type="image/png"/>
<link href="{{ site.asset_url }}/apple-touch-icon.png" rel="apple-touch-icon-precomposed" type="image/png"/>
<link href="{{ site.asset_url }}/lib/normalize.css" rel="stylesheet" type="text/css"/>
<link href="{{ site.asset_url }}/css/monokai.css" rel="stylesheet" type="text/css"/> 
<link href="{{ site.asset_url }}/lib/magnific-popup.min.css" rel="stylesheet" type="text/css"/>
<link href="{{ site.asset_url }}/fonts/fonts.css" rel="stylesheet" type="text/css"/> 
<link href="{{ site.asset_url }}/css/screen.css" rel="stylesheet" type="text/css"/> 
